---
---

@import "{{ site.theme }}";

.btn {
  color: #00FF7F;
}

.btn:hover {
  background-color: #505050;
  color: white;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 3px 1px;
}

.fa-instagram {
  background: #CC3366;
  color: white;
}
