---
---

@import "{{ site.theme }}";

.btn {
  color: #00FF7F;
}

.btn:hover {
  background-color: #505050;
  color: white;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-instagram {
  background: #125688;
  color: white;
}
